body{
    font-family:'Open Sans';
}
.navbar{
    border-radius: 1px;

    background:#3B5997;

}
.navbar-inverse{
    margin:0;
    border:none
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-weight:bold;
}
#baner{
    background:url('../image/librei.jpg');
    min-height:100vh;
    background-size: cover;
}
#about blockquote img{
    min-height:400px
}
#about .s blockquote:first-child{
    border:none;
}
#about blockquote{
    padding:20px 30px
}
#about ol{list-style:square}
h2{
    padding-top:10px;
    padding-left:42px;
}
.col-md-6{
    padding:30px 20px
}
#footer{
    background:black;
    color:white;
}
#footer p{
    font-size: 25px;
    padding:10px
}
